@font-face {
	font-family: 'PTRootUIWebBold';
	src: url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.eot');
	src:
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.woff2') format('woff2'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.woff') format('woff'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.ttf') format('truetype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Bold/PT_Root_UI_Bold.svg#PTRootUIWeb-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebLight';
	src: url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.eot');
	src:
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.woff2') format('woff2'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.woff') format('woff'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.ttf') format('truetype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Light/PT_Root_UI_Light.svg#PTRootUIWeb-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebMedium';
	src: url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.eot');
	src:
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.woff2') format('woff2'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.woff') format('woff'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.ttf') format('truetype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Medium/PT_Root_UI_Medium.svg#PTRootUIWeb-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebRegular';
	src: url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.eot');
	src:
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.woff2') format('woff2'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.woff') format('woff'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.ttf') format('truetype'),
	     url('fonts/PT_Root_UI_Web/PT_Root_UI_Regular/PT_Root_UI_Regular.svg#PTRootUIWeb-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0
}

body {
    font-family: 'PTRootUIWebRegular';
    font-size: 18.5px;
    font-weight: 400;
    line-height: 1.3;
    color: #000000
}

a {
    color: #dd4b3e;
    text-decoration: none;
    border-bottom: 1px solid #dd4b3e;
    transition: all 0.3s ease
}

a:hover {
    color: #dd4b3e;
    text-decoration: none;
    border-bottom-color: transparent
}

p {
    margin: 0 0 25px
}

ul {
    margin: 0 0 0 17px;
    padding: 0;
    list-style: none
}

ul li {
    position: relative;
    margin: 0 0 12px
}

ul li:before {
    content: '—';
    position: absolute;
    top: 0;
    left: -17px;
    width: 17px;
    height: 5px
}

ul.disc li {
    list-style: disc
}

ul.disc li:before {
    display: none
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

.img-responsive {
    max-width: 100%;
    height: auto
}

.text-success {
    color: #00b300
}

table.table, table.table th, table.table td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box
}

table.table {
    border-collapse: collapse
}

table.table th, table.table td {
    padding: 5px 10px
}

.wrapper {
    box-sizing: border-box;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px
}

.wrapper_small {
    max-width: 955px
}

.block-title {
    font-family: 'PTRootUIWebMedium';
    font-size: 52px;
    font-weight: 500;
    line-height: 1.38;
    color: #000000;
    margin: 0 0 28px
}

.block-title_small {
    font-size: 36px
}

.page__content {
    padding: 0 0 40px
}

.btn {
    border: 0;
    border-radius: 12px;
    background: url('images/bg_btn.jpg') repeat-x 0 0;
    background-size: auto 100%;
    font-family: 'PTRootUIWebMedium';
    font-size: 21px;
    font-weight: 500;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    padding: 14px 52px 17px;
    cursor: pointer
}

.btn:hover {
    color: rgba(255, 255, 255, 0.7);
    background-position: -50% 0
}

.btn_small {
    font-size: 18px;
    padding: 10px 30px
}

.bordered {
    border: 1px solid #444057;
    border-radius: 4px;
    display: inline-block;
    padding: 1px 6px;
    position: relative;
    top: -1px;
    left: -6px;
}

.page-list__item {
    margin-bottom: 40px
}

/* Header */
.header {
    position: relative;
    z-index: 100;
    padding: 8px 0 0
}

.header__menu-bg {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 42px;
    background: #312f3d
}

.header__top-menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #131217
}

.header__menu-bg:before, .header__menu-bg:after {
    content: '';
    position: absolute;
    bottom: -18px;
    width: 50%;
    height: 35px;
    background: #312f3d
}

.header__menu-bg:before {
    left: 0;
    transform: skewY(1.9deg)
}

.header__menu-bg:after {
    right: 0;
    transform: skewY(-1.9deg)
    
}

.header__wrapper {
    position: relative;
    z-index: 1
}

.header__wrapper_small {
    position: relative
}

.header_with-bevel:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: #ffffff;
    height: 200px;
    transform-origin: left top;
    transform: skewY(-2.8deg);
}

.header__left {
    max-width: 25%
}

.header__right {
    max-width: 75%;
    margin: 16px 0 0
}

.toggle-menu, .close-menu {
    display: none
}

.toggle-menu, .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    border-bottom: 0;
    z-index: 30
}

.close-menu {
    top: 18px
}

.toggle-menu span {
    display: block;
    height: 3px;
    border-radius: 2px;
    background: #dd4b3e;
}

.toggle-menu span + span {
    margin-top: 3px;
}

.close-menu:before, .close-menu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 3px;
    background-color: #dd4b3e;
}

.close-menu:before {
    transform: rotate(45deg);
}

.close-menu:after {
    transform: rotate(-45deg);
}

.logo {
    display: block;
    border-bottom: 0;
    margin: 4px 0 0 3px
}

.logo__image_logo {
    display: block;
    max-width: 38px;
    float: left;
}

.logo__image_text {
    display: block;
    max-width: 151px;
    float: left;
    margin: 14px 0 0 12px
}

.menu_inline .menu__list {
    margin: 0
}

.menu_inline .menu__item {
    float: left
}

.menu_inline .menu__item:before {
    display: none
}

.menu__link:hover {
    color: #dd4b3e;
}

.header__menu_small {
    font-family: 'PTRootUIWebMedium';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 13px
}

.header__menu_small .menu__item {
    margin: 0 0 0 19px
}

.header__menu_small .menu__link {
    color: #a5aeb8;
    border-bottom-color: rgba(165, 174, 184, 0.5);
}

.header__menu_small .menu__link:hover {
    color: #dd4b3e;
    border-bottom-color: rgba(221, 75, 62, 0.5);
}

.header__menu_big .menu__list {
    margin: 0 1px 0 0
}

.header__menu_big .menu__item {
    margin: 0 0 0 32.5px
}

.header__menu_big .menu__link {
    color: #000000;
    border-bottom: 0
}

.header__menu_big .menu__link:hover, .header__menu_big .menu__item_active_true .menu__link {
    color: #dd4b3e;
}

.menu__link_no-border, .header__menu_small .menu__link_no-border, .header__menu_big .menu__link_no-border,
.menu__link_no-border:hover, .header__menu_small .menu__link_no-border:hover, .header__menu_big .menu__link_no-border:hover, 
.header__menu_small .menu__link_border-dashed:hover, .header__menu_small .menu__item_active_true .menu__link_border-dashed, 
.header__menu_small .menu__link_active-no-border:hover, .header__menu_small .menu__item_active_true .menu__link_active-no-border {
    border-bottom-color: transparent !important
}

.menu__link_border-dashed, .header__menu_small .menu__link_border-dashed, .header__menu_big .menu__link_border-dashed,
.menu__link_border-dashed:hover, .header__menu_small .menu__link_border-dashed:hover, .header__menu_big .menu__link_border-dashed:hover {
    border-bottom-style: dashed
}


.header__menu_gray .menu__link {
    color: #d0dce7
}

.header__content {
    margin: 78px 0 0
}

.header__content_increased-margin {
    margin-top: 87px
}

.page__title, .form__title {
    font-family: 'PTRootUIWebBold';
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #131313;
    margin: 48px 0
}

.page__title_regular {
    font-family: 'PTRootUIWebRegular';
    font-weight: 400
}

.page__title_light {
    color: #d0dce7
}

.page__title_increased-bmargin {
    margin-bottom: 56px
}

.page__brief {
  font-size: 38px;
  text-align: center
}

.page__brief_light {
    color: #d0dce7
}

.page__title + .page__brief {
    margin: -43px 0 0
}

.form__element {
    margin: 0 0 11px;
    box-sizing: border-box
}

.form__label {
    display: block;
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.18;
    margin: 0 0 19px
}

.form__textarea, .form__input {
    font-family: 'PTRootUIWebRegular';
    box-sizing: border-box;
    border-radius: 12px;
    border: solid 1px #acb6bf;
    background-color: #ffffff;
    padding: 14px 0 17px 21px;
    font-size: 21px;
    line-height: 1.38;
    color: #1f1f1f;
    display: block;
    width: 100%;
    outline: 0
}

.form__textarea::placeholder, .form__input::placeholder {
  color: #1f1f1f
}

.form__textarea:-ms-input-placeholder, .form__input:-ms-input-placeholder {
  color: #1f1f1f
}

.form__textarea {
    height: 193px
}

.form__input {
    height: 61px
}

.form__checkbox {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: solid 2px #bec9d3;
    background-color: #ffffff;
    box-sizing: border-box
}

.form__checkbox input {
    opacity: 0
}

.form__checkbox_checked:before {
    content: '\2713';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    line-height: 48px
}

.form__submit {
    border: 0;
    border-radius: 12px;
    background: url('images/bg_btn.jpg') repeat-x 0 0;
    background-size: auto 100%;
    font-family: 'PTRootUIWebMedium';
    font-size: 21px;
    font-weight: 500;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    padding: 14px 52px 17px;
    cursor: pointer
}

.form__submit:hover {
    background-position: -50% 0
}

.form__submit_big {
    font-size: 38px;
    padding: 14px 76px 17px
}

.form__text {
    margin-top: 18px
}

.form_help {
    width: 591px;
    margin: 87px auto 102px;
    text-align: center;
    position: relative;
    left: 1px
}

.form_help .form__title {
    margin: 0 0 39px
}

.form_help .form__submit {
    margin: 25px 0 0
}

.form__no-border .form__element {
    margin: 0 0 45px
}

.form__no-border .form__input {
    border: 1.5px solid #eef1fa;
    height: 59px;
    background: #eef1fa;
    padding-left: 16px;
    outline: 0
}

.form__no-border .form__textarea {
    border: 1.5px solid #eef1fa;
    height: 191px;
    background: #eef1fa;
    padding-left: 16px;
    outline: 0
}

.form__input:focus, .form__textarea:focus {
    border: 1px solid #437fdc
}

.form__no-border .form__input:focus, .form__no-border .form__textarea:focus {
    border: 1.5px solid #437fdc
}


/* About */
.page__about {
    background: url('images/bg_about_left@2x.png') no-repeat 0 110px;
    background-size: 134px 358px
}

.page__about .page__bg {
    background: url('images/bg_about_right@2x.png') no-repeat 100% 110px;
    background-size: 154px 357px
}

.about-top {
    font-size: 38px;
    text-align: center;
    color: #171717;
    max-width: 50%;
    line-height: 1.28;
    margin: 76px auto 126px;
    position: relative;
    left: -12px
}

.about-top__big {
    font-family: 'PTRootUIWebBold';
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    color: #131313;
    margin: 0 0 17px
}

.thesis {
    max-width: 640px;
    width: 59.26%;
    margin: 0 0 81px
}

.thesis__item {
    margin: 0 0 39px
}

.thesis__item_min-width {
    max-width: 545px
}

.thesis__subtitle {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.21;
    color: #000000;
    margin: 0 0 12px
}

.thesis p + ul {
    margin-top: -14px
}

.thesis_2 .thesis__title {
    margin: 0 0 29px
}

.thesis_2 .thesis__item_4 .thesis__subtitle, .thesis_2 .thesis__item_5 .thesis__subtitle {
    margin: 0 0 11px
}

.thesis_2 .thesis__item_2 {
    margin-bottom: 40px;
}

.human {
    width: 40.8%;
    max-width: 350px;
    box-sizing: border-box;
    margin: 88px 9px 0 0
}

.human__thesis {
    font-family: 'PTRootUIWebRegular';
    font-size: 38px;
    font-weight: 400;
    line-height: normal;
    color: #171717;
    margin: 0 -30px 27px 0
}

.human__image-wrapper {
    width: 204px;
    height: 204px;
    border-radius: 50%;
    background-color: #d8d8d8;
    margin: 0 0 29px -10px
}

.human_2 {
   padding-left: 0;
}

.human_2 .human__thesis {
    margin-bottom: 50px
}

.human_2 .human__image-wrapper {
    margin-left: -10px;
}

.our-history {
    margin: 1px 0 69px
}

.our-history__item {
    margin: 0 0 25px
}

.our-history__year {
    width: 72px;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.21;
    color: #000000
}

.our-history__content {
    margin: 0 0 0 90px;
    padding: 9px 0 0;
    max-width: 535px
}

.licenses {
    margin: 0 0 126px
}

.licenses__item {
    max-width: 540px;
    margin: 0 0 39px
}

.licenses__item:nth-child(2) {
    margin: 0 0 41px
}

.licenses__item:nth-child(3) {
    margin: 0 0 37px
}

.licenses__item:first-child .licenses__link-wrapper {
    margin: 0 0 15px
}

.licenses__link-wrapper {
    margin: 0 0 12px
}

.licenses__link {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.21;
    color: #000000;
    text-decoration: none
}

.documents {
    margin: 0 0 154px
}

.documents__title {
    line-height: 1.17;
    max-width: 807px;
    margin: 0 0 45px
}

.documents__block {
    max-width: 626px;
    margin: 0 0 63px
}

.documents__title + .documents__block {
    margin: 0 0 64px
}

.documents__title + .documents__block:nth-child(2) .documents__subtitle {
    margin: 0 0 23px
}

.documents__subtitle {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.21;
    color: #000000;
    margin: 0 0 24px
}

.documents__item {
    margin: 0 0 24px
}

/* Faq */
.page__faq {
    background: url('images/bg_faq.svg') no-repeat 50% 0;
    background-size: 100% auto
}

.faq__form-wrapper {
    background: url('images/bg_faq_form@2x.png') no-repeat 147px 87px;
    background-size: 150px 741px;
    position: relative;
    margin: -121px 0 0;
    padding: 121px 0 1px
}

.faq__tags {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin: 40px 0 49px
}

.faq__tags-list {
    margin: 0
}

.faq__tags-item {
    float: left;
    margin: 0 46px 15px 0
}

.faq__tags-item:before {
    display: none
}

.faq__tags-link {
    color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    border-bottom-style: dashed
}

.faq__tags-link_active {
    border-bottom-color: rgba(221, 75, 62, 0.35)
}

.faq__tags-link:hover {
    color: #000000;
    border-bottom-color: transparent
}

.faq__block {
    margin: 0 0 84px
}

.faq__item {
    margin: 0 0 41px;
    max-width: 53%
}

.faq__item p {
    margin: 0 0 12px
}

.faq__question {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21
}

.faq__answer {
    margin: 11px 0 0
}

.faq__answer ul {
    margin-top: -1px
}

.faq__block_1 .faq__item_2, .faq__block_1 .faq__item_3, .faq__block_1 .faq__item_5 {
    margin-bottom: 40px
}

.faq__block_1 .faq__item_4, .faq__block_1 .faq__item_5 {
    max-width: 50.1%
}

.faq__block_1 .faq__item_6 {
    max-width: 49%
}

.faq__block_2 {
    margin-bottom: 83px
}

.faq__block_2 .faq__item_1 {
    max-width: 50%;
    padding: 1px 0 0;
    margin: 0 0 39px
}

.faq__block_2 .faq__item_2 {
    max-width: 50%
}

.faq__block_2 .faq__item_2 .faq__answer {
    margin: 12px 0 0
}

.faq__block_2 .faq__item_3 {
    margin-bottom: 39px
}

.faq__block_2 .faq__item_4 {
    margin-bottom: 40px
}

.faq__block_2 .faq__item_5 {
    max-width: 50%
}

.faq__block_2 .faq__item_5 .faq__answer {
    margin: 14px 0 0
}

.faq__block_3 .faq__subtitle {
    margin: 0 0 30px
}

.faq__block_3 .faq__item_1 {
    margin-bottom: 40px
}

.faq__block_3 .faq__item_2 {
    max-width: 50%
}

.faq__block_3 .faq__item_3 .faq__answer {
    margin: 12px 0 0
}

.faq__block_4 .faq__subtitle {
    margin: 0 0 30px
}

.faq__block_4 .faq__item_1 {
    max-width: 50%;
    margin: 0 0 40px
}

.faq__block_4 .faq__item_2 {
    max-width: 49%;
    margin: 0 0 40px
}

.faq__block_4 .faq__item_3 {
    max-width: 50%;
    margin: 0 0 42px
}

.faq__block_4 .faq__item_3 .faq__answer {
    margin: 13px 0 0
}

.faq__block_4 .faq__item_4 {
    max-width: 49%;
    margin: 0 0 42px
}

.faq__block_4 .faq__item_4 .faq__answer {
    margin: 12px 0 0
}

.faq__block_4 .faq__item_5 .faq__question {
    max-width: 83%
}

.faq__block_4 .faq__item_5 .faq__answer {
    margin: 12px 0 0
}

.contacts-block {
    font-family: 'PTRootUIWebMedium';
    font-size: 52px;
    font-weight: 500;
    line-height: 1.38
}

.contacts-block__item {
    font-size: 38px;
    color: #171717;
    line-height: 1.28
}

.contacts-block__link {
    color: #171717;
    border-bottom: 0;
}

.contacts-block__link_email {
    color: #dd4b3e;
    border-bottom: 1px solid rgba(221, 75, 62, 0.5)
}

.faq__contacts-block {
    padding: 129px 40px 184px 463px;
    background: url('images/bg_faq_contacts@2x.png') no-repeat 0 0;
    background-size: 420px 556px;
    margin: -33px 0 0
}

.faq__contacts-block .contacts-block__text {
    margin: 0 0 31px
}


/* Payment */
.page__payment .main {
    padding: 52px 0 98px
}

.page__payment .page__title {
    margin-bottom: 38px
}

.payment__form {
    max-width: 483px
}

.payment__form .form__submit {
    margin-top: 40px;
    padding-left: 51px;
    padding-right: 51px
}

.payment__form .form__input::placeholder, .form__input_kit::placeholder {
  color: #8f8f8f
}

.payment__form .form__input:-ms-input-placeholder, .form__input_kit:-ms-input-placeholder {
  color: #8f8f8f
}

.page__payment .content {
    max-width: 32%;
    margin: 6px 0 0 6.6%
}

.page__payment .content p {
    margin: 0 0 24px
}

.payment_systems {
    margin: 27px 0 0
}


/* Business */
.page__business .header {
    background: url('images/bg_business@2x.png') no-repeat 50% 100%;
    background-size: 1980px 1750px;
    min-height: 1171px;
    padding-top: 0
}

.page__business .header__menu_small .menu__link:hover {
    color: #b13138;
    border-bottom-color: rgba(177, 49, 56, 0.5);
}

.page__business .header__menu_small .menu__item_active_true .menu__link {
    color: #c83c44;
    border-bottom-color: rgba(200, 60, 68, 0.5);
}

.page__business .header__menu_big .menu__link:hover {
    color: #b13138;
}

.equipment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.equipment__left, .equipment__right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.equipment__left {
    right: 50%
}

.equipment__right {
    left: 50%
}

.equipment__item {
    position: absolute;
}

.equipment__item_1 {
    right: 738px;
    top: 164px;
    width: 225px;
    height: 293px;
}

.equipment__item_2 {
    right: 284px;
    top: 345px;
    width: 425px;
    height: 522px;
}

.equipment__item_3 {
    top: 345px;
    left: 312px;
    width: 291px;
    height: 285px;
}

.equipment__item_4 {
    bottom: 53px;
    left: 155px;
    width: 520px;
    height: 284px;
}

.equipment__item_4-full {
    width: 549px;
    height: 472px;
    bottom: 285px;
    left: 430px
}

.equipment__image {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease
}

.equipment__image_blurred {
    position: relative;
    opacity: 1
}

.equipment__item:hover .equipment__image {
    position: relative;
    opacity: 1
}

.equipment__item:hover .equipment__image_blurred {
    position: absolute;
    opacity: 0
}

.equipment__item_1 .equipment__image_normal {
    margin: 17px 0 0 18px
}

.equipment__item_2 .equipment__image_normal {
    margin: 14px 0 0 13px;
}

.equipment__item_3 .equipment__image_normal {
    margin: 9px 0 0 8px;
}

.equipment__item_4 .equipment__image_normal {
    margin: 24px 0 0 24px;
}

.page__business .logo {
    margin: 12px 0 0 1px
}

.page__business .header__right {
    margin-top: 24px
}

.prices-info {
    height: 325px;
    border-radius: 12px;
    box-shadow: 0 62px 71px 0 rgba(26, 25, 38, 0.6);
    background-color: #292736;
    margin: 57px 0 0;
    box-sizing: border-box;
    position: relative;
}

.prices-info_light {
    box-shadow: none;
    border: solid 3px #d0dce7;
    background-color: #ffffff;
}

.prices-info_increased-tmargin {
    margin-top: 47px;
}

.prices-info__item {
    float: left;
    margin-top: 43px;
}

.prices-info__item_1 {
    width: 35%;
    margin-left: 6.2%;
}

.prices-info__item_2 {
    width: 45%;
    margin-left: 7.5%;
}

.prices-info__small {
    color: #b13138
}

.prices-info__price {
    text-shadow: 0 8px 24px rgba(221, 64, 64, 0.5);
    font-family: 'PTRootUIWebMedium';
    font-size: 72px;
    font-weight: 500;
    color: #b13138;
    line-height: 1.12;
    margin: 0 0 26px
}

.prices-info__text {
    font-size: 21px;
    line-height: 1.38;
    color: #d0dce7;
}

.prices-info_light .prices-info__item {
    margin-top: 40px;
}

.prices-info_light .prices-info__small {
    color: #dd4b3e
}

.prices-info_light .prices-info__price {
    text-shadow: none;
    color: #dd4b3e
}

.prices-info_light .prices-info__text {
    color: #1f1f1f
}

.text-info {
    box-sizing: border-box;
    margin: 20px 12.7% 0
}

.text-info_increased-tmargin {
    margin-top: 22px
}

.text-info__item {
    float: left;
}

.text-info__item_1 {
    width: 30%
}

.text-info__item_2 {
    width: 30%;
    margin-left: 3.9%;
}

.text-info__item_3 {
    width: 34%;
    margin-left: 1.3%;
}

.text-info__big {
    font-size: 38px;
    color: #d0dce7;
    margin: 0 0 7px
}

.text-info__text {
    color: #d0dce7;
}

.text-info_dark .text-info__big {
    color: #171717
}

.text-info_dark .text-info__text {
    color: #000000
}

.text-info_dark .text-info__item_1 {
    width: 29%
}

.text-info_dark .text-info__item_2 {
    width: 29.5%
}

.send-request {
    text-align: center;
    margin-top: 54px;
    max-width: 450px;
    margin: 0 auto
}

.kit {
    background: #ebecf3;
    margin: -200px 0 0;
    padding: 274px 0 222px
}

.kit__table {
    margin: 51px 0 0
}

.kit__head {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    text-align: right;
    width: 100%
}

.kit__row {
    position: relative;
    width: 100%;
    margin: 0 0 5px
}

.kit__row:before {
    content: '';
    position: absolute;
    top: -21px;
    left: -4.3%;
    width: 108.5%;
    bottom: 20px;
    border-radius: 16px;
    background-color: #fafaff;
    transition: all 0.3s ease;
    opacity: 0
}

.kit__row:hover:before, .kit__row_hover:before {
    opacity: 1
}

.kit__row:first-child:before {
    top: -10%;
    height: 100%
}

.kit__row_last:before {
    bottom: 30px
}

.kit__col {
    position: relative;
    display: block;
    float: left;
    padding: 0 0 40px;
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    text-align: right;
    box-sizing: border-box;
    color: #898989
}

.kit__head .kit__row:before {
    opacity: 0
}

.kit__head .kit__col {
    padding-bottom: 29px;
    color: #000000
}

.kit__row_1 .kit__col {
    padding-bottom: 63px
}

.kit__row_2 .kit__col {
    padding-bottom: 15px
}

.kit__row_3 .kit__col {
    padding-bottom: 63px
}

.kit__row_4 .kit__col {
    padding-bottom: 15px
}

.kit__row_5 .kit__col {
    padding-bottom: 15px
}

.kit__row_6 .kit__col {
    padding-bottom: 63px
}

.kit__row_7 .kit__col {
    padding-bottom: 19px
}

.kit__row_8 .kit__col {
    padding-bottom: 34px
}

.kit__col_content {
    text-align: left;
    width: 44.2%;
    min-width: 44.2%;
    font-family: 'PTRootUIWebRegular';
    font-size: 18.5px;
    font-weight: 400;
    line-height: 1.3;
    color: #000000
}

.kit__col_count {
    width: 18.6%;
    min-width: 18.6%;
    padding-right: 3.5%
}

.count-text {
    padding-right: 8.5%
}

.kit__col_price {
    width: 16.6%;
    min-width: 16.6%;
    padding-right: 4.8%
}

.kit__col_sum {
    width: 20.6%;
    min-width: 20.6%;
    padding-right: 8.5%
}

.kit__head .kit__col_count {
    padding-right: 5%
}

.kit__head .kit__col_price {
    padding-right: 2.6%
}

.kit__head .kit__col_sum {
    padding-right: 6.4%
}

.kit__row-title {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin: 0 0 11px
}

input[type=text].form__input_kit {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    text-align: right;
    color: #898989;
    border: 0;
    border-top: 1.5px solid transparent;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.35);
    width: 112px;
    background: none;
    box-sizing: border-box;
    padding: 0 8px 3px 0;
    border-radius: 0;
    display: inline-block;
    height: auto;;
    margin: -3px 0 0;
    background: 0;
    height: 48px;
    position: relative;
    top: -6px;
    outline: 0
}

input[type=text].form__input_kit:focus, .kit__row:hover input[type=text].form__input_kit {
    border: 1.5px solid #437fdc;
    border-radius: 12px;
    background: #ffffff;
    padding-right: 6.5px;
    width: 109px
}

.form__checkbox_focus {
    border-color: #437fdc
}

input[type=text].form__input_kit::placeholder, input[type=text].form__input_kit::placeholder {
  color: #898989
}

input[type=text].form__input_kit:-ms-input-placeholder, input[type=text].form__input_kit:-ms-input-placeholder {
  color: #898989
}

.kit__row_selected input[type=text].kit__input {
    color: #000000
}

.kit__row-value {
    line-height: 1.21;
    margin: 0 0 15px;
    color: #000000
}

.kit__row_total {
    top: 2px
}

.kit__row_total:before {
    top: -22px;
    bottom: 13px;
    opacity: 1
}

.kit__row_total .kit__row-title {
    margin-bottom: 15px
}

.kit__button {
    text-align: center;
    margin-top: 58px
}

.kit__row_selected .kit__col {
    color: #000000
}

.form__checkbox_kit {
    margin: -15px 16px 0 0;
}

.kit__col_price:before, .kit__col_sum:before {
    display: none;
    position: absolute;
    top: 0;
    width: 14px;
    height: 29px;
    font-family: 'PTRootUIWebMedium';
    font-size: 23px;
    font-weight: 500;
    color: #b9b8bf;
}

.kit__col_sum:before {
    content: '=';
    left: -7px
}

.kit__col_price:before {
    content: '×';
    left: -10px;
}

.kit__row_signs .kit__col_price:before,
.kit__row_signs .kit__col_sum:before {
    display: block
}

.in-cost {
    position: relative;
}

.in-cost:before {
    content: '';
    position: absolute;
    top: -14.8%;
    left: 0;
    width: 100%;
    background: #ffffff;
    height: 30%;
    transform-origin: left top;
    transform: skewY(2.7deg);
}

.in-cost .wrapper {
    position: relative;
    z-index: 1
}

.in-cost__title {
    margin-bottom: 29px;
}

.in-cost__row {
    padding: 0 0 39px
}

.in-cost__item {
    float: left;
    width: 33.5%;
    box-sizing: border-box;
    padding-right: 3%
}

.in-cost__item_middle {
    width: 67.4%
}

.in-cost__item_small {
    width: 33.5%
}

.in-cost__item_small + .in-cost__item_small {
    width: 33.7%
}

.in-cost__item_small + .in-cost__item_small + .in-cost__item_small {
    width: 32.8%
}

.in-cost__item_middle + .in-cost__item_small {
    width: 32.6%
}

.in-cost__item-title {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin: 0 0 14px
}

.in-cost__image_1 {
    margin: -10px 0 0 -19px
}

.in-cost__image_2 {
    margin: -8px 0 -7px -2px
}

.in-cost__row_1 {
    padding-bottom: 2px
}

.in-cost__row_2 .in-cost__item-title {
    margin-bottom: 11px
}

.slider__title {
    margin-bottom: 44px
}

.slider__overflow {
    overflow: hidden
}

.slider__item {
    float: left
}

.slider__caption {
    margin: 11px 0 0 1px;
}

.slider__item + .slider__item {
    margin-left: 11px
}

.our-clients__slider {
    margin: 56px 0 0
}

.our-clients__slider .slider__content {
    /*width: 1654px*/
}

.our-clients__slider .slider__item {
    width: 544px
}

.our-clients__slider .slider__item_small {
    max-width: 431px
}

.our-clients__slider .slider__image {
    max-height: 408px;
    width: auto
}

.invite {
    background: url('images/bg_invite@2x.jpg') no-repeat 50% 0;
    background-size: 1980px 699px;
    height: 699px;
    margin: 161px 0 68px
}

.invite_bg-reverse {
    background-image: url('images/bg_invite_reverse@2x.jpg')
}

.invite__title {
    margin-bottom: 21px
}

.invite__content {
    float: left;
    width: 47.2%;
    margin: 223px 0 0
}

.invite__text {
    font-size: 21px;
    line-height: 1.38;
    color: #1f1f1f
}

.invite__image-wrapper {
    position: relative;
    float: left;
    width: 52.8%
}

.invite__image {
    margin-top: -41px
}

.invite__image-caption {
    position: absolute;
    top: 15.4%;
    right: -1.5%;
    max-width: 184px;
    font-size: 16px;
    line-height: 1.38;
    color: #1f1f1f;
}

.invite__input-wrapper {
    margin: 18px 15.8% 0 -1px
}

.form_invite .form__input {
    height: 59px;
    padding-left: 15px;
}

.invite__submit-wrapper {
    margin: 37px 0 0 -1px
}

.form_invite .form__submit {
    padding-left: 57px;
    padding-right: 57px
}


/* Flat */
.page__flat .header {
    height: auto
}

.how-works {
    margin: 102px 0 152px
}

.how-works__title {
    margin-bottom: 20px
}

.how-works__item {
    float: left;
    margin: 0 0 0 0.3%;
    box-sizing: border-box;
    width: 24.8%;
    padding: 0 3% 0 0
}

.how-works__item_big {
    width: 49%;
    padding: 0;
}

.how-works__number {
    font-family: 'PTRootUIWebBold';
    font-size: 72px;
    font-weight: 700;
    color: #d0dce7;
    margin: 0 0 -6px;
}

.how-works__text {
    font-size: 21px;
    line-height: 1.4;
    color: #1f1f1f
}

.page__flat .kit__row_6 .kit__col {
    padding-bottom: 15px
}

.page__flat .kit__row_9 .kit__col {
    padding-bottom: 15px
}

.page__flat .kit__row_10 .kit__col {
    padding-bottom: 63px
}

.advantages {
    position: relative;
    margin: 0 0 123px;
}

.advantages:before {
    content: '';
    position: absolute;
    top: -158px;
    left: 0;
    width: 100%;
    background: #ffffff;
    height: 300px;
    transform-origin: left top;
    transform: skewY(2.8deg);
}

.advantages__wrapper {
    position: relative;
    z-index: 1
}

.advantages__title {
    margin: 3px 0 27px
}

.advantages__row {
    margin: 0 0 38px
}

.advantages__item {
    float: left;
    box-sizing: border-box;
    width: 35%
}

.advantages__item + .advantages__item {
    width: 22%;
    margin-left: 6.8%;
}

.advantages__item + .advantages__item + .advantages__item {
    width: 20%;
    margin-left: 11.8%;
}

.advantages__item-title {
    font-family: 'PTRootUIWebMedium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    color: #000000;
    margin: 0 0 14px;
}

.advantages__item:first-child .advantages__item-title {
    margin-bottom: 11px;
}

.advantages__item_big, .advantages__item_big + .advantages__item_big {
    width: 43.6%
}

.advantages__item_big + .advantages__item_big {
    margin-left: 6.8%;
}

/* Residence */
.page__residence .advantages {
    margin-top: -3px
}

.page__residence .advantages:before {
    top: -159px
}

.page__residence .advantages__item {
    width: 26%;
}

.page__residence .advantages__item_big {
    width: 43.6%
}

.page__residence .advantages__item + .advantages__item {
    margin-left: 7.5%;
}

.page__residence .advantages__item + .advantages__item + .advantages__item {
    margin-left: -0.8%;
    width: 28%;
}

.page__residence .advantages__item_big + .advantages__item_big {
    margin-left: 6.8%;
}

.page__residence .advantages__title {
    margin-bottom: 30px;
}

.page__residence .advantages__item:first-child .advantages__item-title {
    margin-bottom: 14px
}

.page__residence .kit__row_6 .kit__col {
    padding-bottom: 15px
}

.page__residence .kit__row_9 .kit__col {
    padding-bottom: 15px
}

.page__residence .kit__row_10 .kit__col {
    padding-bottom: 15px
}

.page__residence .kit__row_11 .kit__col {
    padding-bottom: 62px
}

.page__residence .kit__row_12 .kit__col {
    padding-bottom: 16px
}

.page__residence .kit__row_13 .kit__col {
    padding-bottom: 63px
}


/* Main */
.page__main {
    background: url('images/bg_main@2x.jpg') no-repeat 50% 0;
    background-size: 1920px auto
}

.page__main .header {
    min-height: 1171px;
    margin-bottom: -38px;
    padding-top: 0;
}

.page__main .header__menu_small .menu__link:hover, .page__main .header__menu_small .menu__item_active_true .menu__link {
    color: #c83c44;
    border-bottom-color: rgba(200, 60, 68, 0.5);
}

.page__main .header__menu_big .menu__link:hover, .page__main .header__menu_big .menu__item_active_true .menu__link {
    color: #b13138;
}

.header__menu_main .menu__list {
    display: inline-block;
    margin: 0 0 0 -20px
}

.header__menu_main .menu__link {
    color: #b13138;
    border-bottom: 0;
}

.header__menu_main-2 .menu__list {
    display: inline-block;
    margin: 4px 0 5px -31px;
}

.page__main .header__left, .page__main .header__right, .page__main .header__menu {
    float: none;
    text-align: center;
    width: 100%;
    max-width: 100%
}

.page__main .header__right {
    margin-top: 9px;
}

.logo_center {
    position: relative;
    left: 1px;
    width: 56px;
    height: 64px;
    margin: 4px auto 0;
}

.logo_center .logo__image_logo {
    max-width: 56px;
    float: none;
}

.logo_center .logo__image_text {
    display: none
}

.page__main .header__content {
    margin-top: -44px;
}

.page__main .page__brief {
    margin: -35px 0 0;
    line-height: 1.28;
}

.page__main .kit-info {
    margin: 51px 0 0
}

.kit-info {
    position: relative;
    z-index: 10
}

.kit-info__item {
    float: left;
    width: 360px;
    height: 347px;
    border-radius: 12px;
    box-shadow: 0 62px 71px 0 rgba(26, 25, 38, 0.6);
    background-color: #292736;
}

.kit-info__item + .kit-info__item {
    margin-left: 10px
}

.kit-info__title {
    text-shadow: 0 8px 24px rgba(221, 64, 64, 0.5);
    font-family: 'PTRootUIWebMedium';
    font-size: 46px;
    font-weight: 500;
    color: #b13138;
    margin: 37px 70px 28px 28px;
}

.kit-info__description {
    margin: 0 15px 0 30px
}

.kit-info__item:first-child .kit-info__description {
    margin-left: 24px;
}

.kit-info__description p {
    margin: 0 0 8px
}

.kit-info__link {
    color: #b13138;
    border-bottom-color: rgba(221, 75, 62, 0.5)
}

.kit-info__link:hover {
    color: #b13138;
}

.kit-info__description {
    font-size: 21px;
    line-height: 1.38;
    color: #d0dce7;
}

.info {
    position: relative;
    margin: 0 -50px;
    top: -60px;
    border-radius: 12px
}

.info__item {
    position: relative;
    float: left;
    width: 50%;
    max-width: 600px;
    min-height: 768px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    box-sizing: border-box;
    padding: 20.4% 0 0 4.25%;;
    background-color: #000000;
    background-size: auto 100%;
    overflow: hidden;
    z-index: 3
}

.info__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3)
}

.info__item_dark-overlay:before {
    background: rgba(0, 0, 0, 0.5)
}

.info__item-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.info__item_2 .info__item-video {
    left: -70%
}

.info__item-video video {
    width: auto;
    height: 100%;
}

.info__item_1 {
    border-radius: 12px 0 0 12px;
    background-image: url('images/info_1_new.jpg')
}

.info__item_2 {
    border-radius: 0 12px 12px 0;
    background-image: url('images/info_2_new.jpg')
}

.info__title {
    position: relative;
    color: #d0dce7;
    margin: 0 30% 33px 0;
    z-index: 3
}

.info__item_2 .info__title {
    margin-bottom: 23px
}

.info__link {
    color: #d0dce7;
    border-bottom-color: rgba(208, 220, 231, 0.6);
}

.info__description {
    position: relative;
    color: #d0dce7;
    margin-right: 20%;
    z-index: 3;
    font-size: 21px
}

.info__item_2 .info__description {
    margin-left: 0.5%;
}

.info__description p {
    margin-bottom: 15px;
}

.invite_main {
    margin-top: 121px
}

.invite_main .invite__content {
    margin-top: 152px;
}

.invite_main .invite__title {
    margin-left: -4px
}

.invite_main .invite__image {
    max-width: 498px;
    margin-top: -39px;
    margin-left: 12px;
}


/* Contacts */
.page__contacts .header {
    margin-bottom: 20px
}

.page__contacts .page__content {
    padding: 30px 0 60px;
}

.top-image {
    position: relative;
    margin-bottom: -200px
}

.top-image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(to top, #ffffff 5%, transparent);
    background: -webkit-linear-gradient(to top, #ffffff 5%, transparent);
    background: -o-linear-gradient(to top, #ffffff 5%, transparent);
    background: -ms-linear-gradient(to top, #ffffff 5%, transparent);
    background: linear-gradient(to top, #ffffff 5%, transparent);
}

.page__content {
    position: relative
}

.contacts__item {
    margin: 0 0 25px
}

.contacts__method {
    font-size: 36px;
    margin: 0 0 10px
}

.contacts__item_phone .contacts__link {
    color: #000000;
    border-bottom-color: transparent
}

.contacts__item_phone .contacts__link:hover {
    border-bottom-color: rgba(0, 0, 0, 0.3)
}

.contacts__item_phone + .contacts__item_email {
    margin-top: 50px
}

.contacts__contacts {
    width: 50%
}

.contacts__routes {
    width: 50%
}

.routes__item-title {
    font-size: 24px;
    font-family: 'PTRootUIWebMedium';
    font-weight: 500
}

.routes__gps {
    margin: 50px 0 0;
    font-size: 24px;
    font-family: 'PTRootUIWebMedium';
    font-weight: 500
}

.contacts__form {
    margin: 100px 0 50px
}

.contacts__form .form__title {
    margin-top: 0
}

.contacts__form .form__description {
    margin: 20px 0 0;
    max-width: 25%;
    font-size: 21px
}

.contacts__form .form__element {
    padding: 0 20px 0 0
}

.contacts__form .form__element_name, .contacts__form .form__element_phone {
    width: 50%
}

.contacts__form .form__element_question {
    width: 70%
}

.contacts__form .form__element_submit {
    width: 30%
}

.contacts__form .form__submit {
    display: block;
    width: 100%;
}

/* Footer */
.footer__menu {
    float: left;
    margin: 0 38px 0 0
}

.footer__menu .menu__title {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.21;
    color: #000000;
    margin: 0 0 14px
}

.footer__menu .menu__link {
    color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    float: left;
    margin: 0 14px 0 0
}

.footer__menu .menu__link:hover {
    color: #dd4b3e;
    border-bottom-color: transparent;
}

.footer__menu .menu__link.active {
    border-bottom-color: transparent
}

.footer__menu_second .menu__title {
    letter-spacing: 0.5px;
}

.footer__menu_second .menu__link {
    margin-right: 15px;
}

.footer__menu .menu__link_ml {
    margin-left: 38px
}

.footer__bottom {
    font-family: 'PTRootUIWebMedium';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    color: #a5aeb8;
    margin: 41px 0 0
}

.footer__bottom p {
    margin: 0 0 13px
}

.footer__bottom a {
    color: #a5aeb8;
    border-bottom-color: rgba(165, 174, 184, 0.5);
}

.footer__bottom a:hover {
    color: #dd4b3e;
    border-bottom-color: transparent;
}

.footer__left {
    max-width: 400px;
    width: 100%;
    margin-right: 45px
}

.footer__action {
    margin: 8px 0 0;
    width: 100%
}

.action__show-content {
    display: block;
    border-bottom: 0;
    position: relative;
    overflow: hidden;
    float: right;
    margin: -64px 96px 0 0
}

.action__image {
    display: block;
}

.action__text {
    position: absolute;
    top: 42px;
    left: 2px;
    width: 100%;
    height: 100%;
    transform: rotate(-8deg);
    font-family: 'PTRootUIWebBold';
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase
}

.action__content {
    max-height: 260px;
    box-sizing: border-box;
    display: none;
    position: relative
}

.action__title {
    transform: rotate(-360deg);
    font-family: 'PTRootUIWebMedium';
    font-size: 52px;
    font-weight: 500;
    line-height: 1.08;
    color: #d0dce7;
    margin: 0 0 0 22%
}

.action__link {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 0;
    box-sizing: border-box;
    position: relative
}

.action__image {
    display: block;
}

.action__description {
    position: absolute;
    bottom: 16%;
    left: 22.1%;
    transform: rotate(-360deg);
    line-height: 1.3;
    color: #d0dce7;
    font-size: 18.5px;
    font-family: 'PTRootUIWebRegular';
    font-weight: 400
}

.action__send-request {
    color: #ffffff !important;
    position: absolute;
    right: 12.7%;
    bottom: 48px;
    transition: none
}

/**/
.owl-item .slider__item {
    float: none
}

#preloader{
    display: none;
	position:fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
	width:50px;
	height:50px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:8px;
	width:8px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:20px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:20px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:20px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:20px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

#map {
    height: 568px
}