@media(min-width: 1980px) {
    .page__business .header, .invite, .page__main {
        background-size: 100% auto
    }
}

@media(min-width: 1920px) {
    .header__menu-bg:before, .header__menu-bg:after {
        bottom: -22px;
        height: 43px
    }
}

@media(min-width: 1200px) and (max-width: 1220px) {
    .info {
        margin: 0;
        top: -30px
    }
    
    .info__item {
        padding-top: 15.4%
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .page__title {
        font-size: 62px
    }
    
    .wrapper {
        max-width: 970px
    }
    
    .form__description {
        font-size: 19px
    }
    
    .footer__menu {
        margin-right: 8px
    }
    
    .footer__menu_second {
        margin-right: 0
    }
    
    .footer__menu .menu__link_ml {
        margin-left: 0
    }
    
    .action__send-request {
        bottom: 42px
    }
    
    
    /* Flat */
    .kit__row:before {
        left: -10px;
        width: 102%
    }
    
    
    /* Main */
    .kit-info__item {
        width: 310px;
        height: 320px
    }
    
    .kit-info__title {
        font-size: 40px
    }
    
    .kit-info__description {
        font-size: 18px
    }
    
    .info {
        margin: 0;
        top: -30px
    }
    
    .info__item {
        padding-top: 10.4%;
        min-height: 610px;
    }
}

@media(min-width: 768px) {
    .visible-xs {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 16px
    }
    
    .wrapper {
        max-width: 750px
    }
    
    .btn_small {
        padding: 8px 20px;
        font-size: 16px
    }
    
    .block-title {
        font-size: 42px
    }
    
    .page__title, .form__title {
        font-size: 50px
    }
    
    .form__element {
        margin-bottom: 30px !important
    }
    
    .form__label {
        font-size: 22px;
        margin-bottom: 10px
    }
    
    .form__description, .contacts__form .form__description {
        font-size: 15px
    }
    
    
    /* Header */  
    .header__left {
        max-width: 30%
    }
    
    .header__right {
        max-width: 70%
    }
    
    .header__menu {
        font-size: 15px
    }
    
    .header__menu_big .menu__item {
        margin-left: 10px
    }
    
    
    /* About */
    .about-top {
        max-width: 100%;
        margin: 50px 0
    }
    
    .thesis {
        max-width: none;
        width: 50%;
    }
    
    .thesis__title {
        font-size: 42px
    }
    
    .thesis__subtitle {
        font-size: 24px
    }
    
    .thesis__content {
        font-size: 16px
    }
    
    .human {
        max-width: none;
        margin-right: 0;
        width: 40%
    }
    
    .human__thesis {
        font-size: 32px;
        margin-right: 0;
    }
    
    
    /* Payment */
    .payment__form {
        max-width: 360px
    }
    
    .page__payment .content {
        max-width: 44%;
        font-size: 16px
    }
    
    
    /* Faq */
    .faq__form-wrapper {
        background: none
    }
    
    .faq__tags {
        font-size: 22px
    }
    
    .faq__tags-item {
        margin-right: 20px;
    }
    
    .faq__item {
        max-width: 100% !important
    }
    
    .faq__contacts-block {
        margin: 0 0 70px;
        background: none;
        padding: 30px 10% 50px
    }
    
    
    /* Flat */
    .kit__row:before {
        left: -10px;
        width: 102.6%
    }
    
    .page__brief {
        font-size: 28px
    }
    
    .prices-info__price {
        font-size: 62px
    }
    
    .prices-info__text {
        font-size: 18px;
    }
    
    .how-works__number {
        font-size: 62px
    }
    
    .how-works__text {
        font-size: 18px
    }
    
    .kit__col {
        font-size: 22px
    }
    
    .kit__row-title {
        font-size: 22px
    }
    
    .kit__col_content {
        font-size: 16px
    }
    
    .advantages__item-title {
        font-size: 22px
    }
    
    
    /* Residence */
    .page__residence .advantages__item + .advantages__item + .advantages__item {
        margin-left: 7.5%;
    }
    
    
    /* Business */
    .text-info__big {
        font-size: 34px
    }
    
    .form__input_kit {
        width: 82px;
    }
    
    .form__input_kit:focus, .kit__row:hover .form__input_kit {
        width: 79px
    }
    
    .invite__title {
        font-size: 36px
    }
    
    .invite__image-wrapper {
        margin-top: 132px;
    }
    
    .invite__image-caption {
        top: -12%;
        right: -2%;
        max-width: 160px;
        font-size: 14px
    }
    
    
    /* Main */
    .page__main .header {
        min-height: 0;
        margin-bottom: 0;
    }
    
    .kit-info__item {
        width: 236px;
        height: 270px
    }
    
    .kit-info__title {
        font-size: 28px
    }
    
    .kit-info__description {
        font-size: 17px
    }
    
    .info {
        margin: 0;
        top: -20px
    }
    
    .info__item {
        padding-top: 5.4%;
        min-height: 500px
    }
    
    .invite_main .invite__image {
        max-width: 380px;
        margin-top: 4px;
    }
    
    .invite_main .invite__image-caption {
        top: -7%
    }
    
    .action__show-content {
        margin-right: 6px
    }
    
    
    /* Contacts */
    .contacts__method {
        font-size: 28px
    }
    
    .routes__gps {
        font-size: 18px
    }
    
    
    /* Footer */
    .footer__menu {
        margin-bottom: 40px
    }
    
    .footer__menu_second {
        margin-right: 0;
    }
    
    .footer__menu .menu__title {
        font-size: 22px
    }
    
    .footer__menu .menu__link {
        font-size: 16px
    }
    
    .footer__menu .menu__link_ml {
        margin-left: 0
    }
    
    .footer__bottom {
        font-size: 15px;
    }
    
    .footer__left {
        max-width: 300px
    }
    
    .footer__action {
        margin-right: 0;
    }
    
    .action__send-request {
        bottom: 33px;
        padding: 8px 20px;
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    body {
        font-size: 15px
    }
    
    .hidden-xs {
        display: none
    }
    
    .wrapper {
        max-width: 100%
    }
    
    .block-title {
        font-size: 28px
    }
    
    .page__title, .form__title {
        font-size: 46px
    }
    
    .form__element {
        margin-bottom: 15px !important
    }
    
    .form__label {
        font-size: 20px;
        margin-bottom: 10px
    }
    
    .form__textarea, .form__input {
        font-size: 16px;
        padding: 10px 0 10px 15px;
        height: 51px
    }
    
    .form__textarea {
        height: 150px
    }
    
    .opened-menu .logo {
        display: none
    }
    
    .page__main.opened-menu .logo {
        display: block
    }
    
    
    /* Header */
    .equipment {
        display: none
    }
    
    .header {
        padding-top: 15px !important
    }
    
    .header_with-bevel:before {
        bottom: 25px
    }
    
    .header__menu-bg, .header__top-menu-bg {
        display: none;
    }
    
    .header__left {
        max-width: 50%
    }
    
    .header__right {
        width: 100%;
        margin-top: 0;
        clear: both
    }
    
    .toggle-menu {
        display: block
    }
    
    .menu-wrapper {
        display: none;
        width: 100%;
        top: -8px;
        left: 0;
        padding: 56px 10px 0;
        z-index: 20;
        box-sizing: border-box;
        text-align: right
    }
    
    .menu {
        float: none;
        margin: 0
    }
    
    .menu:first-child {
        margin-top: -5px
    }
    
    .header__menu, .header__menu_small {
        font-size: 24px;
        font-family: 'PTRootUIWebRegular';
        font-weight: 700
    }
    
    .page__main .header__left, .page__main .header__right, .page__main .header__menu {
        text-align: right
    }
    
    .menu_inline .menu__item {
        float: none;
        padding: 5px 0
    }
    
    .menu__link, .header__menu_small .menu__link {
        color: #000000;
        border-bottom: 0;
    }
    
    .header__menu_small .menu__item, .header__menu_big .menu__item {
        margin: 0
    }
    
    .header__menu_small .menu__link {
        color: #b13138 !important
    }
    
    
    /* 404 */
    .page__404 .page__content {
        margin-bottom: -15px;
    }
    
    /* About */
    .page__about, .page__about .page__bg {
        background: none
    }
    
    .page__about .logo__image_text {
        display: none;
    }
    
    .about-top {
        margin: 50px auto;
        font-size: 24px;
        max-width: 70%;
    }
    
    .about-top__big {
        font-size: 38px
    }
    
    .thesis {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    
    .thesis__subtitle {
        font-size: 22px
    }
    
    .thesis__content {
        font-size: 16px
    }
    
    .human {
        max-width: 50%;
        width: 100%;
        margin: 0 auto 60px;
        float: none;
        text-align: center;
    }
    
    .human__thesis {
        font-size: 32px
    }
    
    .human__image-wrapper {
        margin: 20px auto !important
    }
    
    .our-history {
        margin-bottom: 30px
    }
    
    .our-history__year {
        width: 60px;
        font-size: 22px
    }
    
    .licenses {
        margin-bottom: 64px
    }
    
    .licenses__link {
        font-size: 22px
    }
    
    .documents {
        margin-bottom: -23px
    }
    
    
    /* Faq */
    .faq__form-wrapper {
        background: none
    }
    
    .form_help {
        width: 100%;
        max-width: 591px;
        margin: 50px auto
    }
    
    .faq__tags {
        font-size: 20px
    }
    
    .faq__tags-item {
        margin: 0 16px 10px 0
    }
    
    .faq__block {
        margin-bottom: 40px;
    }
    
    .faq__item {
        max-width: 90% !important;
        margin: 0 0 20px !important
    }
    
    .faq__question {
        font-size: 22px
    }
    
    .faq__answer {
        font-size: 17px
    }
    
    .contacts-block {
        font-size: 32px
    }
    
    .contacts-block__item {
        font-size: 24px
    }
    
    .faq__contacts-block {
        max-width: 55%;
        margin: 0 auto 45px;
        float: none;
        background: none;
        padding: 0
    }
    
    
    /* Payment */
    .page__payment .main {
        padding: 0 0 20px
    }
    
    .payment__form {
        width: 85%;
        margin: 0 0 30px;
        float: none;
    }
    
    .payment__form .form__submit {
        display: block;
        margin: 0 0 30px
    }
    
    .form__text {
        text-align: left
    }
    
    .page__payment .content {
        max-width: 100%;
        margin: -6px 0 20px
    }
    
    .payment_systems {
        max-width: 50%;
        margin: 20px 0 0
    }
    
    
    /* Flat */
    .header__content_increased-margin {
        margin-top: 47px
    }
    
    .page__brief {
        font-size: 24px
    }
    
    .prices-info {
        height: auto
    }
    
    .prices-info__item {
        width: 90%;
        margin: 20px 5% 0 !important
    }
    
    .prices-info__item + .prices-info__item {
        margin-top: 26px !important
    }
    
    .prices-info__price {
        font-size: 52px;
        margin: 0 0 10px
    }
    
    .prices-info__text {
        font-size: 15px
    }
    
    .text-info__big {
        font-size: 26px
    }
    
    .form__submit_big {
        font-size: 24px
    }
    
    .how-works {
        margin: 50px 0
    }
    
    .how-works__item {
        width: 100%
    }
    
    .how-works__number {
        float: left;
        font-size: 42px;
        width: 40px
    }
    
    .how-works__text {
        font-size: 15px;
        margin-top: 10px;
    }
    
    .form__checkbox {
        width: 38px;
        height: 38px
    }
    
    .form__checkbox_checked:before {
        font-size: 30px;
        line-height: 34px
    }
    
    .form__input_kit {
        width: 72px;
        height: 40px;
        padding: 0 8px 3px 0
    }
    
    .form__input_kit:focus, .kit__row:hover .form__input_kit {
        width: 69px
    }
    
    .kit__row:before {
        left: -1%;
        width: 102%
    }
    
    .kit__col {
        font-size: 18px;
        padding-bottom: 20px !important
    }
    
    .kit__row-title {
        font-size: 18px
    }
    
    .kit__col_content {
        font-size: 14px
    }
    
    .advantages {
        margin-bottom: 10px;
    }
    
    .advantages__title {
        font-size: 26px !important
    }
    
    .advantages:before {
        top: -58px !important;
        height: 200px
    }
    
    .advantages__row {
        margin-bottom: 0
    }
    
    .advantages__item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 15px
    }
    
    .advantages__item-title {
        font-size: 20px;
        margin-bottom: 10px
    }
    
    
    /* Business */
    .page__business .header {
        min-height: 0;
        padding: 8px 0 100px;
        background-position: 50% 100%
    }
    
    .page__business .header__right {
        margin-top: -1px
    }
    
    .page__business .menu__link, .page__business .header__menu_small .menu__link,
    .page__business .header__menu_big .menu__link:hover, .page__business .header__menu_big .menu__item_active_true .menu__link {
        color: #d0dce7;
        border-bottom: 0;
    }
    
    .page__business .logo {
        margin: 4px 0 0 3px
    }
    
    .page__business .header__content {
        margin-top: 0
    }
    
    .prices-info {
        margin-top: 37px;
    }
    
    .kit {
        padding: 200px 0 100px
    }
    
    .kit__table {
        margin-top: 30px;
    }
    
    .kit__button {
        margin-top: 8px
    }
    
    .in-cost:before {
        top: -60px;
        height: 200px
    }
    
    .in-cost__title {
        font-size: 26px !important
    }
    
    .in-cost__row {
        margin-bottom: 0 !important;
        padding-bottom: 0
    }
    
    .in-cost__item {
        width: 100% !important;
        margin-bottom: 15px
    }
    
    .in-cost__item-title {
        font-size: 20px;
        margin-bottom: 10px
    }
    
    .in-cost__item-text {
        font-size: 17px
    }
    
    .our-clients__slider {
        margin: 20px 10px 0
    }
    
    .our-clients__slider .slider__item {
        max-width: 380px
    }
    
    .our-clients__slider .slider__image {
        max-height: 280px
    }
    
    .invite {
        height: auto;
        padding: 20px 0;
        margin: 0 0 44px
    }
    
    .invite__content {
        box-sizing: border-box;
        margin: 60px 0 0 0 !important;
        padding-left: 28px;
        width: 100%;
        max-width: 400px;
        float: none
    }
    
    .invite__text {
        font-size: 16px
    }
    
    .invite__image-wrapper {
        display: none
    }
    
    .invite_bg-reverse {
        background-image: url('images/bg_invite@2x.jpg')
    }
    
    
    /* Main */
    .page__main .menu-wrapper {
        padding: 55px 10px
    }
    
    .page__main .menu__link, .page__main .header__menu_small .menu__link {
        color: #d0dce7;
        border-bottom: 0;
    }
    
    .page__main .kit-info {
        margin-top: 45px
    }
    
    .kit-info__item {
        width: 100%;
        height: auto;
        margin: 0 0 20px !important
    }
    
    .kit-info__title {
        font-size: 28px
    }
    
    .kit-info__description {
        font-size: 18px
    }
    
    .info {
        margin: 0 0 80px;
        top: auto;
        background: #000000;
        padding: 0 0 20px
    }
    
    .info__item {
        padding-top: 3%;
        min-height: 0;
        background: none;
        width: 50%
    }
    
    .info__item-video {
        display: none
    }
    
    .info__description {
        font-size: 18px;
        margin-right: 0
    }
    
    .slider__title {
        margin-bottom: 30px;
    }
    
    .invite_main .invite__title {
        margin-left: 0
    }
    
    .action__description {
        font-size: 15px
    }
    
    
    /* Contacts */
    .page__contacts .page__content {
        padding: 0 0 14px;
    }
    
    .page__contacts .page__title {
        margin-top: 0
    }
    
    .top-image {
        margin-bottom: 0
    }
    
    .contacts__contacts, .contacts__routes {
        width: 100%;
        margin: 0 0 30px
    }
    
    .contacts__item {
        margin: -10px 0 25px
    }
    
    .contacts__item_phone + .contacts__item_email {
        margin-top: 0
    }
    
    .contacts__method {
        font-size: 24px
    }
    
    .routes__item-title {
        font-size: 18px
    }
    
    .contacts__form {
        margin: 50px 0 20px
    }
    
    .contacts__form .form__title, 
    .contacts__form .form__description {
        width: 100%;
        max-width: 100%;
        text-align: left;
        margin: 0 0 20px
    }
    
    .contacts__form .form__description {
        font-size: 16px
    }
    
    .contacts__form .form__element {
        width: 100% !important
    }
    
    
    /**/
    .page__content {
        padding: 0 0 15px
    }
    
    .table {
        margin-bottom: 29px;
    }
    
    .header__menu_big .menu__link:hover, .header__menu_big .menu__item_active_true .menu__link {
        color: #000000
    }
    
    
    /* Footer */
    footer {
        padding: 20px 0 0
    }
    
    .footer__menu {
        margin: 0 0 50px
    }
    
    .footer__menu .menu__title {
        font-size: 24px
    }
    
    .footer__menu .menu__link_ml {
        margin-left: 0;
    }
    
    .footer__menu .menu__link {
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }
    
    .footer__bottom {
        font-size: 14px;
        margin-top: 27px;
    }
    
    .footer__left, .footer__center {
        max-width: 70%
    }
    
    .footer__action {
        margin: 0
    }
    
    .action__send-request {
        right: 10px;
        bottom: 18%;
        padding: 8px 20px;
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    body {
        font-size: 14px
    }
    
    p {
        margin: 0 0 15px
    }
    
    .form__textarea, input[type=text].form__input {
        font-size: 16px;
        height: 41px !important;
        line-height: 41px !important
    }
    
    .form__textarea {
        height: 100px !important
    }
    
    .form__submit {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .form__label {
        font-size: 16px
    }
    
    .form__checkbox {
        width: 28px;
        height: 28px
    }
    
    /* Header */
    .header__left {
        max-width: 70%
    }
    
    .page__title, .form__title {
        font-size: 30px
    }
        
    .block-title {
        font-size: 22px
    }
    
    /* About */
    .about-top {
        left: auto;
        max-width: 90%;
        font-size:  22px
    }
    
    .about-top__big {
        font-size: 32px
    }
    
    .thesis__subtitle {
        font-size: 18px
    }
    
    .human {
        max-width: 80% !important
    }
    
    .human__thesis {
        font-size: 26px;
        margin: 0 0 25px
    }
    
    .our-history__year {
        width: 100%;
        float: none;
    }
    
    .our-history__content {
        max-width: 100%;
        margin: 20px 0 0
    }
    
    .documents__subtitle {
        font-size: 18px
    }
    
    .licenses__link {
        font-size: 18px
    }
    
    
    /* Faq */
    .faq__tags {
        font-size: 16px;
        margin: 20px 0
    }
    
    .faq__question {
        font-size: 18px
    }
    
    .contacts-block {
        font-size: 22px
    }
    
    .contacts-block__item {
        font-size: 18px
    }
    
    .faq__contacts-block {
        max-width: 100%;
        text-align: center;
    }
    
    /* Flat */
    .page__brief {
        font-size: 20px
    }
    
    .prices-info__small {
        font-size: 16px
    }
    
    .prices-info__price {
        font-size: 50px
    }
    
    .prices-info__text {
        font-size: 17px
    }
    
    .text-info__item {
        width: 100% !important;
        margin-left: 0 !important;
    }
    
    .text-info__big {
        font-size: 30px
    }
    
    .text-info__text {
        font-size: 15px
    }
    
    .how-works__text {
        font-size: 15px;
        margin-left: 40px;
    }
    
    .kit__col {
        font-size: 14px;
        padding-right: 1% !important
    }
    
    .kit__col_content {
        width: 38%;
        min-width: 38%;
        font-size: 11px !important
    }
    
    .kit__col_count {
        width: 16.6%;
        min-width: 16.6%
    }
    
    .kit__col_price {
        width: 22.6%;
        min-width: 22.6%
    }
    
    .kit__col_sum {
        width: 22.6%;
        min-width: 22.6%
    }
    
    .kit__row-title {
        font-size: 14px
    }
    
    .kit__col_price:before, .kit__col_sum:before {
        left: 2px;
        top: -5px
    }
    
    input[type=text].form__input_kit, .form__input_kit {
        width: 42px;
        height: 30px !important;
        line-height: 30px !important
    }
    
    .form__input_kit:focus, .kit__row:hover .form__input_kit,
     input[type=text].form__input_kit:focus, .kit__row:hover input[type=text].form__input_kit {
        width: 39px
    }
    
    .form__checkbox_kit {
        margin: -5px 5px 0 0
    }
    
    .form__checkbox_checked:before {
        font-size: 26px;
        line-height: 26px
    }
    
    
    /* Business */
    .in-cost__image_1 {
        margin-left: 0
    }
    
    .our-clients__slider {
        margin: 20px 10px -15px
    }
    
    .our-clients__slider .slider__item {
        max-width: 265px;
        width: 265px
    }
    
    .our-clients__slider .slider__image {
        max-height: 195px
    }
    
    .slider__caption {
        font-size: 12px
    }
    
    
    /* Contacts */
    .routes__gps {
        overflow: hidden
    }
    
    .routes__coordinates {
        width: 100%
    }
    
    .routes__copy {
        float: left;
        margin: 20px 0 0
    }
    
    
    /* Main */
    .info__item {
        width: 100%;
        max-width: 360px
    }
    
    .info__item + .info__item {
        padding-top: 9%
    }
    
    .action {
        margin-top: 64px
    }
    
    .action__show-content {
        margin-right: 0
    }
    
    .action__description {
        font-size: 13px
    }
    
    
    /* Footer */
    .footer__left, .footer__center {
        max-width: 90%
    }
    
    .footer__menu .menu__title {
        font-size: 20px
    }
    
    .footer__menu .menu__link {
        margin-right: 5px !important
    }
}

@media (min-width: 320px) and (max-width: 560px) {
    .action__send-request {
        display: none
    }
}